################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ezfx.Csv/v15
/Core/Ezfx.Csv/bin
/Core/Ezfx.Csv/obj
/Core/Ezfx.Csv.Test/bin
/Core/Ezfx.Csv.Test/obj
/Core/Ezfx.Csv.Tester/bin
/Core/Ezfx.Csv.Tester/obj
/Ezfx.Csv2Entity.ItemTemplate.Cs/bin/Debug/ItemTemplates/CSharp/1033
/Ezfx.Csv2Entity.ItemTemplate.Cs/obj/Debug
/Ezfx.Csv2Entity.VSIX/bin
/Ezfx.Csv2Entity.VSIX/obj
/Samples/LanguageConfigSample/bin
/Samples/LanguageConfigSample/obj/x86
/Samples/Languages/bin
/Samples/Languages/obj/x86
/Samples/ProgrammingLanguagePopularity/bin
/Samples/ProgrammingLanguagePopularity/obj/x86
/Samples/LanguageConfigSampleVB/bin
/Samples/LanguageConfigSampleVB/obj/x86
/Templates/Ezfx.Csv.Templates/bin
/Templates/Ezfx.Csv.Templates/obj
/Templates/Ezfx.Csv.Templates.CsvClass.CS/bin
/Templates/Ezfx.Csv.Templates.CsvClass.CS/obj
/Templates/Ezfx.Csv.Templates.CsvClass.VB/bin
/Templates/Ezfx.Csv.Templates.CsvClass.VB/obj
/Templates/Ezfx.Csv.Templates.Installer/obj/Debug
/Templates/Ezfx.Csv.Templates.Tester/bin/Debug
/Templates/Ezfx.Csv.Templates.Tester/obj/x86
/Tools/Ezfx.Csv.DocumentGenerator/bin
/Tools/Ezfx.Csv.DocumentGenerator/obj/x86
/Templates/Ezfx.Csv2Entity.VSIX/obj
/Templates/Ezfx.Csv2Entity.VSIX/bin
/Ezfx.Csv.Tools.DocumentGenerator/bin/Debug
/Ezfx.Csv.Tools.DocumentGenerator/obj
/packages/NUnit.3.11.0
/Ezfx.Csv.Tools.DocumentGenerator/bin/Release
