Obj/
obj/
bin/
Bin/
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
setup.exe
_UpgradeReport_Files/
UpgradeLog.XML
*.vspscc
*.vssscc
*.scc
*.sqlsuo

packages/
.vs/
*.dll
*.cache